@font-face {
	font-family: 'Cinzel', Helvetica, serif;
}

body {
	background-color: #2a9dea;
}

.top-bar {
	height: 3rem;
	background-color: #64defc;
	color: #333333;
}

.top-bar a {
	height: 3rem;
}

.hero h1 {
	color: #666;
	font-family: 'Cinzel', Helvetica, serif;
	font-weight: bold; 
	text-shadow: -2px -2px 1px rgba(100, 222, 252, .8);
	text-align: center;
	position: relative;
	margin-top: 0;
}


.we-cat {
	background: 
    linear-gradient(0deg, transparent, #fff), 
    #2a9dea url("img/limber_header.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}


.puffy {
	background: url("img/rockypuffy.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}


.rush {
	background: url("img/new_Rushmore.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}

.rush h1 {
	color: #fff;
}

.obama {
	background: linear-gradient(0deg, transparent, #fff), 
    #2a9dea url("img/meowwecan.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}

.meow-now {
	padding: 30px 0;
}

.button {
	border: solid;
	border-color: #666;	
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #666; }

.about {
	max-width: 60%;
	text-align: center;
	margin: auto;
	color: #fff;
}

.flexvideo {
	max-width: 60%;
	text-align: center;
	margin: auto
}






