@font-face {
	font-family: 'Cinzel', Helvetica, serif;
}

body {
	background-color: #2a9dea;
}

.top-bar {
	height: 3rem;
	background-color: #64defc;
	color: #333333;
}

.top-bar a {
	height: 3rem;
}

.we-cat {
	background: url("img/limber_header.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}
	
.hero h1 {
	color: #fff;
	font-family: 'Cinzel', Helvetica, serif;
	font-size: 5rem;
	font-weight: bold; 
	text-shadow: -3px -3px 1px rgba(100, 222, 252, .8);
	text-align: center;
	position: relative;
}

.puffy {
	background: url("img/rockypuffy.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}

.rush {
	background: url("img/new_Rushmore.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
}